# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# editor / os
.DS_Store
.vscode/
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# vite
.vite/

# pwa generated
apps/web/dev-dist/
